<!DOCTYPE html>
<html>
<head>
	<title>Ultimate gming site 9000 - catalog</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="styles/materialize.css"  media="screen,projection"/>
    <!--Import css-->
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<!------------------------ NAVBAR ----------------------->
	<nav>
    	<div class="nav-wrapper teal">
      		<a href="/catalog" class="brand-logo center">UGS 9000</a>
      		<ul id="nav-mobile" class="right">
      			<li><a href="/catalog">Catalog</a></li>
        		<li><a href="/logout">Logout</a></li>
      		</ul>
    	</div>
  	</nav>
  	<!------------------------ GAMES ----------------------->
	<div id="userapp" class="row">
		<div is="user-item"
            v-bind:title="currentUser">
        </div>
        <h3 class="center">Games:</h3>
        <div class="collection col s4 offset-s4">
            <a href="/game" class="collection-item">Plant Attack 1</a>
            <a href="#!" class="collection-item">Not Available</a>
            <a href="#!" class="collection-item">Not Available</a>
            <a href="#!" class="collection-item">Not Available</a>
        </div>
    </div>
    <!-- Import Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Import Vue -->
    <script type="text/javascript" src="scripts/vue.js"></script>
    <!-- Import script -->
    <script type="text/javascript" src="scripts/user.js"></script>
</body>
</html>