<!DOCTYPE html>
<html>
<head>
    <title>Plant Attack 1</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="styles/materialize.css"  media="screen,projection"/>
    <!--Import css-->
    <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>
    <!------------------------ NAVBAR ----------------------->
    <nav>
        <div class="nav-wrapper teal">
            <a href="/catalog" class="brand-logo center">UGS 9000</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <!------------------------ HEADER ----------------------->
    <div class="center">
        <h3>Plant attack 1</h3>
        <p>CTRL to shoot left and right arrows to move</p>
    </div>
    <!------------------------ GAME CANVAS ----------------------->
    <div id="myCanvas"></div>
    <!------------------------ COMMENTS ----------------------->
    <div id="commentapp" class="container">

            <div class="col s12">

                <h3 class="center"><i class="header-icon medium material-icons">assignment</i> Write your comment</h3>

                <!-- COMMENT FORM -->
                <form v-on:submit.prevent="comment()">
                    <div class="row">
                        <textarea type="text" rows="10" cols="30" 
                        class="validate" 
                        v-model="newCommentText"
                        placeholder="add new comment"
                        onfocus="this.value=''"></textarea>
                    </div>
                    <div class="row">
                        <button type="submit" name="action" class="btn waves-effect waves-light ">Comment</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <ul>
                    <li
                    is="comment-item"
                    v-for="(item, index) in comments"
                    v-bind:comment="item.text"
                    v-bind:user="item.user"
                    ></li>
                </ul>
            </div>
    </div>
    <!------------------------ CHART ----------------------->
    <h3 class="center"><i class="header-icon medium material-icons">tag_faces</i> Top ten scores</h3>
    <div class="chart-container">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <!-- Import Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- Import Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Import Vue -->
    <script type="text/javascript" src="scripts/vue.js"></script>
    <!-- Import comment.js -->
    <script type="text/javascript" src="scripts/comment.js"></script>
    <!-- Import materialize -->
    <script type="text/javascript" src="scripts/materialize.js"></script>
    <script type="text/javascript" src="scripts/phaser.min.js"></script>
    <!-- import javascript for game -->
    <script type="text/javascript" src="scripts/game.js">
    </script>
</body>
</html>