<!doctype html>
<html>
    <head>
        <title>Ultimate gming site 9000 - login</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="styles/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="styles/style.css"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            body { padding-top:80px; }
        </style>
    </head>
    <body>
        <div id="loginapp" class="container">

            <div class="col-sm-6 col-sm-offset-3">

                <h1><i class="header-icon medium material-icons">exit_to_app</i> Login</h1>

                <!-- LOGIN FORM -->
                <form v-on:submit.prevent="login()">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" v-model="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" v-model="password">
                    </div>

                    <button type="submit" name="action" class="btn waves-effect waves-light">Login</button>
                </form>
                <!------------------------ ERROR ----------------------->
                <div v-if="error != ''" class="row alert alert-danger">
                    <p
                        is="error-text"
                        v-bind:title="error"
                    ></p>
                </div>
                <!------------------------ FOOTER ----------------------->
                <hr>

                <p>Need an account? <a href="/signup">Signup</a></p>
                <p>Or go <a href="/">home</a>.</p>

            </div>

        </div>
    <!--JavaScript at end of body for optimized loading-->
    <!-- Import Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Import Vue -->
    <script type="text/javascript" src="scripts/vue.js">
    </script>
    <!-- Import script -->
    <script type="text/javascript" src="scripts/login.js">
    </script>
    </body>
</html>
