<!doctype html>
<html>
    <head>
        <title>Todo app</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            body { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">

            <div class="jumbotron text-center">
                <h1><i class="header-icon medium material-icons">lock</i> Todo app authentication</h1>

                <p>Login or Register with:</p>

                <a href="/login" class="btn btn-default"><i class="header-icon material-icons">person</i> Local Login</a>
                <a href="/signup" class="btn btn-default"><i class="header-icon material-icons">person_add</i> Local Signup</a>
            </div>

        </div>
    </body>
</html>