<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <title></title>
</head>
<body>
    <div id="app" class="container">
        <div class="center">
            <h1>Todo List</h1>
            <a href="/logout" class="btn waves-effect waves-light">Logout</a>
        </div>
        <div class="row">
            <form class="col s12" v-on:submit.prevent="addItem()">
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input type="text" class="validate" 
                            maxlength = 10
                            v-model="newItemText"
                            placeholder="add new TODO"
                            onfocus="this.value=''"
                        >
                    </div>
                    <div class="input-field col s3">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Add
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="row">
            <ul class="collection col s4 offset-s4">
                <li
                is="list-item"
                v-for="(item, index) in items"
                v-bind:index="index"
                v-bind:title="item.text"
                v-on:remove="removeFromList(item.text)"
                ></li>
            </ul>
        </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <!-- Import Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Import Vue -->
    <script type="text/javascript" src="scripts/vue.js">
    </script>
    <!-- Import script -->
    <script type="text/javascript" src="scripts/script.js">
    </script>
    <!-- Import materialize -->
    <script type="text/javascript" src="scripts/materialize.js"></script>
</body>
</html>