<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
	<title></title>
</head>
<body>
	<div id="app" class="container">
		<h1 class="center">TODO list</h1>
		<div class="row">
			<form class="col s12" v-on:submit.prevent="addItem">
				<div class="row">
					<div class="input-field col s6 offset-s3">
						<input type="text" class="validate" 
							maxlength = 10
							v-model="newItemText"
							placeholder="add new TODO"
						>
					</div>
					<div class="input-field col s3">
						<button class="btn waves-effect waves-light" type="submit" name="action">Add
						</button>
					</div>

				</div>
			</form>
		</div>
		<div class="row">
			<ul class="collection col s4 offset-s4">
				<li
				is="list-item"
				v-for="(item, index) in items"
				v-bind:key="item.id"
				v-bind:title="item.title"
				v-on:remove="items.splice(index, 1);
							saveItems();"
				></li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="scripts/vue.js">
	</script>
	<script type="text/javascript" src="scripts/script.js">
	</script>
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="scripts/materialize.js"></script>
</body>
</html>