
h1, p, h3 {
	text-align: center;
}


.grid-container {
	position: relative;
	left: 45%;
	display: grid;
	grid-template-columns: 50px 50px 50px;
	grid-template-rows: 50px 50px 50px;
	text-align: center;
}

.grid-item {
	border-style: solid;

}