<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title></title>
</head>
<body>
	<div id="app">
		<form v-on:submit.prevent="addItem">
			<label>Add an item</label>
			<input
				maxlength = 10
				v-model="newItemText"
				placeholder="edit me"
			>
			<button>Add</button>
		</form>
		<ul>
			<li
			is="list-item"
			v-for="(item, index) in items"
			v-bind:key="item.id"
			v-bind:id="item.id"
			v-bind:title="item.title"
			v-on:remove="items.splice(index, 1)"
			></li>
		</ul>
	</div>
	<script type="text/javascript" src="scripts/vue.js">
	</script>
	<script type="text/javascript" src="scripts/script.js">
	</script>
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="scripts/materialize.js"></script>
</body>
</html>